body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: white;
}

button {
  font: inherit;

  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #FB565A;
  border: none;
  padding-left:
}

button:hover {
background-color: #E74246;
}
button:active{
  background-color: #D7373B;
}

h1 {
  font-size: 55px;
  line-height: 55px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
a:hover {
  color: #FB565A;
}
a:focus {
}
a:active{
  color: #000000;
  border-bottom: 2px solid #FB565A;
  padding-bottom: 24px;
}

li {
  list-style: none;
}


/* Хедер */
.main-header {
  padding-top: 48px;
  background-color: #EEEEEE;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;

  min-width: 64px;

}

.all-header {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.all-header-test {
  display: flex;
  justify-content: space-between;
}
.basket {
  width: auto;
}
.main-navigation {
  width: auto;
}

.logo-header {
  width: auto;
}
.site-nav {
}
.user-nav {
  list-style: none;
  display: inline;
  padding-right: 48px;
}
.site-nav,
.site-nav a:hover,
.site-nav a:focus,
.user-nav a{
  color: #000000;
}
.user-nav a:hover {
  color: #FB565A;
}
.user-nav a:active {
  color: #000000;
  border-bottom: 2px solid #FB565A;
  padding-bottom: 24px;
}
.user-nav a:focus {
 color: #FB565A;
}

.basket a:{
  color: #000000;
}
.basket a:hover{

}
.basket a:focus,
.basket a:active {}

/* Главный блок */
.index-slide {
  background-color: #EEEEEE;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.text-1 {
  width: 416px;
}


.button-red {
  font: inherit;

  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #FB565A;
  border: none;
  padding-left:
}

.button-red:hover {
background-color: #E74246;
}
.button-red:active{
  background-color: #D7373B;
}

/* Предложения */

.all-offers {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom: 1px solid #EEEEEE;
}

.offers h3 {
  font-size: 24px;
  line-height: 30px;
}
.offers {
  list-style: none;
  display: inline;
  width: 300px;
  padding-right: 100px;
}

.offers p {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-green {
  background-color: #00CA74;
  text-transform: uppercase;
}
.button-green:hover {
  background-color: #00BC6C;
}
.button-green:focus {
  background-color: #00AA62;
}

.button-yellow {
  background-color: #EFC84A;
}
.button-yellow:hover {
  background-color: #EAB534;
}

.button-yellow:focus {
  background-color: #E5A722;
}
/* О компании */

.index-column {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 72px;
  border-bottom: 1px solid #EEEEEE;
}
.about-company {
  width: 756px;
}
.about-header {
  font-size: 45px;
  line-height: 45px;
  min-width: 756px;
}

.all-skills,
.skills

/* Цифры */
.numbers-company {
  width: 360px;
}
.numbers-company p {
  text-transform: uppercase;
}
.all-numbers {
  display: flex;
  justify-content: space-between;
}
.numbers {
  list-style: none;
  display: inline;
}
.numbers p {
  text-transform: none;
}
.big-numbers {
  font-size: 45px;
  line-height: 10px;
}
sup {
  font-size: 26px;
}

/* Партнеры */
.partners-section {
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #EEEEEE;
}

.all-partners {
  display: flex;
  justify-content: space-between;
}

li.partners {
  list-style: none;
  display: inline;
}

/*Контакты и карты */

.contact-card {
  background-color: #ffffff;
}

.contact-header {
  font-size: 18px;
  text-transform: uppercase;
}

/* Футер */
.main-footer {
  margin-top: 0px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #EEEEEE;
}

.social-network {
  width: 262px;
  margin-right: 138px;
}
footer a {
  background: #E1E1E1;
}

footer a:hover {
  background-color: #E74246;
}

footer a:focus {
  background-color: #D7373B;
}

.social-network li {
  display: inline;
}

.friend {
  font-size:36px;
}
.title-1 {
  width: 650px;
}

.main-footer .container {
  display: flex;
}



/* КАТАЛОГ */

.descpript h1 {
  font-size: 55px;
  color: #ffffff;
}

.browser {
  background-color: #EAEAEA;
}

.class {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 14px;
  }

  .pagination a {
    background-color: #EEEEEE;
  }
  .pagination a:hover {
    background-color: #DFDFDF;
  }
  .pagination a:focus {
    background-color: #ffffff;
  }
  .pagination a:active {
    background-color: #ffffff;
    border-style: solid 3px #DBDBDB;
  }
